/*
font-family: 'JetBrains Mono', monospace;
font-family: 'Open Sans', sans-serif;
*/

body {
  margin: 0;
  background: #2c2b3d;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1083px;
  margin: 71px auto 101px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 28px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
